[Desktop Entry]
Type=Service
Name=7-Zip File Manager
ServiceTypes=KonqPopup/Plugin,all/allfiles
Actions=7zipExtractHere;7zipTest;
Icon=7zip-gui-cpp
X-KDE-Priority=TopLevel

[Desktop Action 7zipExtractHere]
Name=Extract Here
Name[zh_CN]=解压到当前目录
Icon=7zip-gui-cpp
Exec=7zip-gui-cpp --extract-here %f

[Desktop Action 7zipTest]
Name=Test archive
Name[zh_CN]=检测文件
Icon=7zip-gui-cpp
Exec=7zip-gui-cpp --test %f
